:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(249, 253, 249);
  --background-color: rgb(123, 79, 8);
  --text-color: rgb(11, 11, 11);
  --overlay-color: rgb(173, 216, 230);
}

body {
  font-family: "Buda", serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color:var(--primary-color);
  color: var(--background-color);
  padding: 2rem;
  text-align: center;
  position: relative;
}

h1 {
  margin: 0;
}

nav {
  margin-top: 20px;
 
}

.hamburger {
  display: block;
  background-color: var(--primary-color);
  border: none;
  color: var(--background-color);
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 25px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  position: absolute;
  top: 10px;
  right: 70px;
  background-color:var(--primary-color);
}

.nav-links.show {
  display: flex;
}

.nav-links li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.3s ease;
}


.front {
  position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Move back half the width and height */
    width: 400px; /* Set the width as needed */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.8; /* Optional: Adjust opacity for visibility */
}
.nav-links li a:hover {
  color: black
}

main {
  max-width: 1200px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.res-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin:  30px;
  justify-content: center;
}


img {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  background-color:var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  width: 100%;
  text-align: center;
}

footer p {
  margin: 5px 0;
}

/*Media queries for zooming behavior */
@media (min-width: 768px) {
  .hamburger {
      display: none;
  }

  .nav-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  section img {
      width: 100%;
      height: auto;
      display: block;}
}

.titlemain{
  text-align: left;
  position: relative;
  left: 20px;
  }

  
  /*header section*/
  .hero_area {
    height: calc(100vh - 45px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }

.whatapp{
  transform: scale(0.5); /* Reduce la imagen al 50% de su tamaño original */
}
