
body{
    margin: 0;
    font-family: "Inconsolata", monospace;

    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    font-weight: bold;

}

header{
    text-align: center;
    
    background-color: white;
    padding: 20px;
    display: flex;

    max-height: 100%;
}
.checkbox-group{
    display: flex;
    align-items: center;
    margin: 5px 0;
}
main {
    font-family: Arial, sans-serif;

    }

.form-container {
    background-color: #a0e3e5 ;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    margin-top: 0;
    color: #0b0b0b;

}

  

.label {
    
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 10px 0;
}
.form-container {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-container select,
.form-container input[type="date"],
.form-container textarea,
.form-container input[type="text"],
.form-container input[type="submit"] {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="submit"] {
    background-color: #5cb85c;
    color: black;
    border: none;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #4cae4c;
}

.stars {
    display: flex;
    margin: 10px 0;
    color: #ffcc00;
    font-size: 20px;
    cursor: pointer;
    justify-content: space-between;
    width: 150px;
}

.form-container input[type="radio"] {
    margin-right: 10px;
}

.form-container .checkbox-group {
    margin-bottom: 15px;
}

.form-container .checkbox-group span {
    margin-left: 5px;
    color: #333;}


footer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    font-size: 14px;
    color: #0c0b0b;
    width: 100%;
    background-color: #a0e3e5
    }