/*Styles for larger screens */
.hamburger {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: center;
}

.res-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

